<%= render "shared/page_title", title: "Chef Name: " + @chef.chefname %>
<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 150 %>
    <hr/>
    </div>
</div> 

<div class="row">
    <div class="col-md-4 col-md-offset-4">
       <h3><em>Recipes: </em></h3> 
       <%= will_paginate @receipes %>
    </div>
</div>
<% @receipes.each do |receipe|%>
<div class="row"> 
    <div class="col-md-6 well col-md-offset-3">
            <h4><%= link_to receipe.name, receipe_path(receipe) %></h4>
             <p><%= receipe.summary %></p>
             <p>
                <span class='quiet'><small>Created: <%= time_ago_in_words(receipe.created_at) %> ago, </small></span>
                <span class='quiet'><small>Updated: <%= time_ago_in_words(receipe.updated_at) %> ago</small></span>  
             </p> 
              <div class="pull-right">
                        <%= link_to like_receipe_path(receipe, like: true), method: :post do %>
                         <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= receipe.thumbs_up_total %>
                        <% end %> &nbsp&nbsp&nbsp&nbsp
                         <%= link_to like_receipe_path(receipe, like: false), method: :post do %>
                         <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= receipe.thumbs_down_total %>
                        <% end %>
              </div>
    </div>
</div>

<% end %>