<%= render "shared/page_title", title: @receipe.name %>
<div class="row">
    <div class="col-md-4 pull-right center">
    <%= gravatar_for @receipe.chef, size: 200 %>
    <p>
     <h5>Brought to you by <%= @receipe.chef.chefname %></h5>    
    </p>
    </div>
    <div class="col-md-8">
        <%= link_to "Edit the receipe", edit_receipe_path(@receipe), class:"btn btn-success pull-right" %>
        <h3><%= @receipe.summary %>
        <div class="show_receipe">
            <%= image_tag(@receipe.picture.url, class: "gravatar") if @receipe.picture? %>
        </div>
            <div class="well">
                <p>
                <strong>Steps:</strong>
                </p>
                <h5><%= simple_format(@receipe.description) %></h5>
            </div>    
        </h3>
    </div>
</div>

<h5><%= link_to "return to Receipes Listing", receipes_path, class: "btn btn-primary btn-small" %></h5>