<!DOCTYPE html>
<html>
<head>
  <title>Udemyreceipeapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render "layouts/navigation" %>
<div class="container">

<%= yield %>

<%= render "layouts/footer" %>
<hr/>
<div class="row">  
    <div class="col-md-2">
        <section class="chef_info center">
           <%= debug(params) if Rails.env.development? %>
        </section>
    </div>
    
</div>
</div>
</body>
</html>
